html, body {
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}

img{
    height: 100%;
    width: 100%;
}

section{
    margin-bottom: 40px;
    padding-block: 10px;
    background-color: rgb(226, 239, 239);
}

nav {
    text-align: center;
}